* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkslategray;
}

a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: darkolivegreen;
}

html {
  font-size: 14px;
}

body {
    background-image: linear-gradient(120deg, #8e9eab, #eef2f3);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#img-logo{
    max-height: 50vh;
    border-radius: 20px;
    border: double;
    border-width: 3px;
    border-color: aliceblue;
    opacity: 0.8;
}

#nav-custom{
    background-color: whitesmoke;
}

