@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Gerenciamento de Patrimônio</p>
    <img src="img/gestao-de-patrimonio-home.jpg" id="img-logo"/>
    <p class="mt-4"> Comece se cadastrando na aba acima.</p>
</div>
